@use 'variables' as *;
//BOTONES
// MIXIN 1: Botón con fondo de color (SOLID)
// Recibe: color de fondo y color de texto

@mixin boton-color($fondo, $texto) {
  background-color: $fondo;
  color: $texto;
  border: 2px solid $fondo;

  &:hover {
    background-color: darken($fondo, 10%);
    border-color: darken($fondo, 10%);
  }

  &:active {
    background-color: darken($fondo, 20%);
  }
}

// MIXIN 2: Botón con borde (OUTLINE)
// Recibe: color del borde y texto

@mixin boton-borde($color) {
  background-color: transparent;
  color: $color;
  border: 2px solid $color;

  &:hover {
    background-color: $color;
    color: #fff;
  }

  &:active {
    background-color: darken($color, 15%);
    border-color: darken($color, 15%);
  }
}