

$primary: #0D1B2A;        
$secondary: #1B263B;      
$accent: #E09F3E;        
$pirate-red: #E63946;     
$gold-bright: #FFD166;    
$black: #000000;
$white: #FFFFFF;


// FONDOS

$background: #0A192F;     
$surface: #14213D;        


// TEXTO

$text: #E0E6F0;
$text-muted: #A0AEC0;


// COLORES SEMÁNTICOS

$success: #2ECC71;
$danger: #E63946;
$warning: #F4A261;
$info: #3A86FF;


// ESPACIADOS 

// Espacioados para margenes y paddings
$spacing-0: 0px;
$spacing-4: 4px;
$spacing-8: 8px;
$spacing-12: 12px;
$spacing-16: 16px;
$spacing-20: 20px;
$spacing-24: 24px;
$spacing-28: 28px;
$spacing-32: 32px;
$spacing-36: 36px;
$spacing-48: 48px;

// BORDES Y SOMBRAS


$border-radius: 8px;
$border-radius-lg: 12px;

$shadow-sm: 0 2px 4px rgba(0,0,0,0.2);
$shadow-md: 0 4px 8px rgba(0,0,0,0.3);
$shadow-lg: 0 8px 16px rgba(0,0,0,0.4);

$focus-accent: 0 0 0 2px rgba(224, 159, 62, 0.3);
$focus-danger: 0 0 0 2px rgba(230, 57, 70, 0.3);
$focus-success: 0 0 0 2px rgba(46, 204, 113, 0.3);
$focus-danger-strong: 0 0 0 2px rgba(230, 57, 70, 0.4);
$focus-success-strong: 0 0 0 2px rgba(46, 204, 113, 0.4);

$shadow-pirate-sm: 2px 2px 0 $black;
$shadow-pirate-md: 3px 3px 0 $black;
$shadow-pirate-lg: 5px 5px 0 $black;


$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);
$columns: 12;
$gutter: 16px;
